<!-- About -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="AboutYouCast" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="AboutYouCast">ABOUT YOUCAST</h4>
      </div>
      <div class="modal-body">
          <p>
              YouCast is a free service and a mobile app (Android only for now).
          </p>
          <p>
              Thanks to YouCast, you can instruct your mobile to download YouTube videos so you can watch them later offline, without
              being stuck buffering or using all your data plan.
          </p>
          <p>
              YouCast is still in private beta at the moment, but don't hesitate to register your email 
              or ping me on twitter for a sneak peek.
          </p>
          <h4>Cheers !</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>