<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Thank you for your interest in YouCast !</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>We will inform you when your account is activated.</p>
            <p>Meanwhile, you can...</p>
            <ul>
                <li><a href="https://twitter.com/paristote" target="_blank"><i class="fa fa-twitter-square"></i> Follow us on Twitter</a></li>
<!--                <li><a href="http://facebook.com"><i class="fa fa-facebook-square"></i> Like our page on Facebook</a></li>-->
                <li><a href="http://youtube.com" target="_blank"><i class="fa fa-youtube-square"></i> Find videos to watch later</a></li>
                <li><a href="/hello"><i class="fa fa-arrow-left"></i> Go back</a></li>
            </ul>
        </div>
    </div>
</div>